{{ with .Site.GetPage "saas" "sass-top" }}
    <section id="saas-top" style="background-image: url(../images/h1-bg.png);">
        <h1 class="title-page">{{ with .Page.Params.title_page }}{{ . }}{{ end }} </h1>
        <div class="first">
        <div class="img-block">
            {{ with .Page.Params.image }}
                <img src="{{ . }}">
            {{ end }}
        </div>
        <div class="text-block">
            <h1> {{ .Title }}</h1>
            <p>{{ .Content }}</p>
            <div>
                <a class="violet-button" data-toggle="modal" data-target="#get-started">
                    Get Started
                </a>
            </div>
        </div>
    </div>
</section>
{{ partial "pop-up/get-started.html" . }}
{{ end }}
