{{ with .Site.GetPage "saas" "we-do-saas" }}
<section id="we-do-saas"  >
    <div class="title-block">
        <h2>{{ .Title }}</h2>
    </div>
    <div class="icons-block v-1110" >
        <div class="one-icon-block">
            <div class="icon">
                {{ with .Page.Params.icon1 }}
                <img src="{{ . }}">
                {{ end }}
            </div>
            {{ with .Page.Params.icon1title }}
            <h3>{{ . }}</h3>
            {{ end }}
        </div>
        <div class="one-icon-block">
            <div class="icon">
                {{ with .Page.Params.icon2 }}
                <img src="{{ . }}">
                {{ end }}
            </div>
            {{ with .Page.Params.icon2title }}
            <h3>{{ . }}</h3>
            {{ end }}
        </div>
        <div class="one-icon-block">
            <div class="icon">
                {{ with .Page.Params.icon3 }}
                <img src="{{ . }}">
                {{ end }}
            </div>
            {{ with .Page.Params.icon3title }}
            <h3>{{ . }}</h3>
            {{ end }}

        </div>
    </div>
</section>
{{ end }}