{{ with .Site.GetPage "local" "local-top" }}
<section id="industries_top" class="v-1110">
    <h1 class="title-page">{{ with .Page.Params.title_page }}{{ . }}{{ end }}</h1>

    <div class="img-block">
        <img src="/images/local-services.png" alt="">
    </div>
    <div class="text-block">
        <h1>
            {{ .Title}}
        </h1>
        {{ .Content}}
        <div>
            <a class="violet-button"data-toggle="modal" data-target="#get-started">
                Get Started
            </a>
        </div>
    </div>
</section>
{{ partial "pop-up/get-started.html" . }}
{{ end }}
<section id="industries_logos_block">
    <div class="logos_block">
        <img src="/images/lendingtree.svg" alt="">
        <img src="/images/beyond-logo.png" alt="">
    </div>
</section>
