{{ with .Site.GetPage "insurance" "industries-top" }}
    <section id="industries_top" class="v-1110">
        <h1 class="title-page">{{ with .Page.Params.title_page }}{{ . }}{{ end }}</h1>

        <div class="img-block">
        <img src="/images/industries-top-img.png" alt="">
    </div>
    <div class="text-block">
        <h1>{{ .Title }}</h1>
        <p>{{ .Content }} </p>
        <div>
            <a class="violet-button" data-toggle="modal" data-target="#get-started">
                Get Started
            </a>
        </div>
    </div>
</section>
{{ partial "pop-up/get-started.html" . }}
    <section id="industries_logos_block">
        <div class="logos_block industries-logo">
            <img src="/images/brand/newlogo1.png" alt="">
            <img src="/images/brand/newlogo2.png" alt="">
            <img src="/images/brand/newlogo3.png" alt="">
        </div>
    </section>

{{ end }}
