<header style="  background-image: url(../images/header-bg.png);">
  <div class="top-head">
    <div>
      <a href="#"><img src="../images/unybrands-logo.png" alt="unybrands-logo"></a>
    </div>
    <div>
      {{ range .Site.Menus.main }}
      <a href="{{ .URL }}">{{ .Name }}</a>
<!--      <a href="#">Team</a>-->
<!--      <a href="#">Press</a>-->
<!--      <a href="#">FAQ</a>-->
<!--      <a href="#">Contacts</a>-->
      {{ end }}
      <button type="submit">Let’s chat</button>
    </div>
  </div>
  <div class="bottom-head">
    <div>
      <p>
        You want to sell your Amazon FBA business? We have more than 25 years of experience in transacting and building companies, and we are focused on the Amazon ecosystem and similar e-commerce platforms
      </p>
    </div>
    <div>
      <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipi</p>
      <h1>The new <span class="colortext">home</span> for your e-commerce <br> brand"</h1>
    </div>
  </div>
</header>

