{{ with .Site.GetPage "your-industry" "your-industry-services" }}
<section id="industries_services">
    <h2>{{ .Title }}</h2>
    <div class="industries_services">
        <div class="one-service">
            <div class="img">
                {{ with .Page.Params.img }}
                <img src="{{ . }}">
                {{ end }}
            </div>
            <h4>{{ with .Page.Params.titleservice1 }}{{ . }} {{ end }}</h4>
            <p>{{ with .Page.Params.description }}{{ . }} {{ end }}</p>
        </div>
        <div class="one-service">
            <div class="img">
                {{ with .Page.Params.img2 }}
                <img src="{{ . }}">
                {{ end }}
            </div>
            <h4>{{ with .Page.Params.title2 }}{{ . }} {{ end }}</h4>
            <p>{{ with .Page.Params.description2 }}{{ . }} {{ end }}</p>
        </div>
        <div class="one-service">
            <div class="img">
                {{ with .Page.Params.img3 }}
                <img src="{{ . }}">
                {{ end }}
            </div>
            <h4>{{ with .Page.Params.title3 }}{{ . }} {{ end }}</h4>
            <p>{{ with .Page.Params.description3 }}{{ . }} {{ end }}</p>
        </div>
    </div>
</section>
{{ end }}