{{ with .Site.GetPage "main" "brands" }}
<section id="brands">
    <h2>{{ .Title }}</h2>
    <div class="brands-logos v-1110">
        <div class="one-logo">
            <img src="/images/brand/logo-01.png" alt="">
        </div>
        <div class="one-logo">
            <img src="/images/brand/logo-02.png" alt="">
        </div>
        <div class="one-logo">
            <img src="/images/brand/logo-03.png" alt="">
        </div>
        <div class="one-logo">
            <img src="/images/brand/logo-04.png" alt="">
        </div>
        <div class="one-logo">
            <img src="/images/brand/logo-05.png" alt="">
        </div>
        <div class="one-logo">
            <img src="/images/brand/logo-06.png" alt="">
        </div>
    </div>
</section>

{{ end }}