{{ with .Site.GetPage "main" "brands" }}

<section id="sec-screen">
    <div class="screen-text">
        <p>
            {{ .Title }}
        </p>
        <p>
            {{ with .Page.Params.first_description }}{{ . }}{{ end }}
        </p>
        <p>
            {{ with .Page.Params.second_description }}{{ . }}{{ end }}
        </p>
    </div>
    <div class="screen-img">
        {{ with .Page.Params.first_img }}
        <img src="{{ . }}" alt="huzeyfe-turan">
        {{ end }}
        {{ with .Page.Params.second_img }}
        <img src="{{ . }}" alt="bird">
        {{ end }}
    </div>
</section>
<section id="how-work">
    <div>
        <div class="work-line">
            <p>01</p>
            <div class="line"></div>
        </div>
        <p>How we work</p>
    </div>
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
</section>
<section id="brands">
    <div class="brands-top">
        <p>
            Brands we are looking for
        </p>
        <p>
            You want to sell your Amazon FBA business? We have more than 25 years
        </p>
    </div>
    <div class="brands-bot">
        <div>
            <p>Header</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div>
            <p>Header</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div>
            <p>Header</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div>
            <p>Header</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>
</section>
<section id="know-each">
    <div class="know-each-top">
        <p>
            Let’s get to know each other
        </p>
        <p>
            Looking to sell your Amazon FBA or DTC business? Reach out to us and we’ll take it from there, with our expert team guiding you through every step of our process.
        </p>
    </div>
    <div class="know-each-bot">
        <div>
            <p>
                Header
            </p>
            <p>
                Facebook Facebook
                Facebook Facebook
                Facebook Facebook
                Facebook<br>
                Facebook
            </p>
        </div>
        <div class="know-each-bot-img">
            <img src="../images/business.png" alt="business">
        </div>
    </div>
</section>

{{ end }}
