{{ with .Site.GetPage "main" "second-screen" }}
    <section id="sec-screen">
    <div class="screen-text">
        <p>
            {{ .Title }}
        </p>
        <p>
            {{ with .Page.Params.first_description }}{{ . }}{{ end }}
        </p>
        <p>
            {{ with .Page.Params.second_description }}{{ . }}{{ end }}
        </p>
    </div>
    <div class="screen-img">
        {{ with .Page.Params.first_img }}
        <img src="{{ . }}" alt="huzeyfe-turan">
        {{ end }}
        {{ with .Page.Params.second_img }}
        <img src="{{ . }}" alt="bird">
        {{ end }}
    </div>
</section>
{{ end }}
{{ with .Site.GetPage "main" "how-work" }}
    <section id="how-work">
    <div>
        <div class="work-line">
            <p>01</p>
            <div class="line"></div>
        </div>
        <p>{{ .Title }}</p>
    </div>
    <div>
        <p>
            {{ with .Page.Params.first_description }}{{ . }}{{ end }}
        </p>
        <p>
            {{ with .Page.Params.second_description }}{{ . }}{{ end }}
        </p>
        <p>
            {{ with .Page.Params.first_description }}{{ . }}{{ end }}
        </p>
        <p>
            {{ with .Page.Params.first_description }}{{ . }}{{ end }}
        </p>
        <p>
            {{ with .Page.Params.first_description }}{{ . }}{{ end }}
        </p>
    </div>
</section>
{{ end }}
{{ with .Site.GetPage "main" "brands" }}
    <section id="brands">
    <div class="brands-top">
        <p>{{ .Title }}</p>
        <p>
            {{ with .Page.Params.top_right_description }}{{ . }}{{ end }}
        </p>
    </div>
    <div class="brands-bot">
        <div>
            <p>{{ with .Page.Params.brands_block1_title }}{{ . }}{{ end }}</p>
            <p>
                {{ with .Page.Params.brands_block1_description }}{{ . }}{{ end }}
            </p>
        </div>
        <div>
            <p>{{ with .Page.Params.brands_block2_title }}{{ . }}{{ end }}</p>
            <p>
                {{ with .Page.Params.brands_block2_description }}{{ . }}{{ end }}
            </p>
        </div>
        <div>
            <p>{{ with .Page.Params.brands_block3_title }}{{ . }}{{ end }}</p>
            <p>
                {{ with .Page.Params.brands_block3_description }}{{ . }}{{ end }}
            </p>
        </div>
        <div>
            <p>{{ with .Page.Params.brands_block4_title }}{{ . }}{{ end }}</p>
            <p>
                {{ with .Page.Params.brands_block4_description }}{{ . }}{{ end }}
            </p>
        </div>
    </div>
</section>
{{ end }}
<section id="know-each">
    <div class="know-each-top">
        <p>
            Let’s get to know each other
        </p>
        <p>
            Looking to sell your Amazon FBA or DTC business? Reach out to us and we’ll take it from there, with our expert team guiding you through every step of our process.
        </p>
    </div>
    <div class="know-each-bot">
        <div>
            <p>
                Header
            </p>
            <p>
                Facebook Facebook
                Facebook Facebook
                Facebook Facebook
                Facebook<br>
                Facebook
            </p>
        </div>
        <div class="know-each-bot-img">
            <img src="../images/business.png" alt="business">
        </div>
    </div>
</section>


