{{ with .Site.GetPage "main" "ready" }}
<section id="ready"  style="background-image: url(../images/bg.png);">
    <h2>{{ .Title }}</h2>
    <div class="ready-buttons-block">
        <a href="{{ with .Page.Params.link }}{{ . }}{{ end }}">
            I’m a Traffic Partner
        </a>
        <a href="{{ with .Page.Params.link2 }}{{ . }}{{ end }}">
            I’m a Business, I need leads!
        </a>
        <a href="{{ with .Page.Params.link3 }}{{ . }}{{ end }}">
            I’m a Platform, I would love to learn more!
        </a>
    </div>
</section>

{{ end }}