{{ with .Site.GetPage "main" "real-demand-delivered" }}
<section id="real-demand-delivered" style="background-image: url(../images/h1-bg.png);">
    <div class="real-demand-row">
        <div class="first-row">
            <div class="image">
                <div class="bg-image">
                    {{ with .Page.Params.img }}
                    <img src="{{ . }}" alt="">
                    {{ end }}
                </div>
                <div class="content">
                    <div class="one-sms">
                        <img src="/images/one-message3.svg" alt="">
                    </div>
                    <div class="one-sms">
                        <img src="/images/one-message.svg" alt="">
                    </div>
                    <div class="one-sms">
                        <img src="/images/one-message1.svg" alt="">
                    </div>
                    <div class="one-sms">
                        <img src="/images/one-message2.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="info">
                <span class="number">01</span>
                <div class="text">
                    <h2>{{ .Title }}</h2>
                    <p>{{ .Content }}</p>
                </div>
            </div>
        </div>
        <div class="second-row">
            <div class="info">
                <span class="number">02</span>
                <div class="text">
                    <h2>{{ with .Page.Params.second_title }}{{ . }}{{ end }}</h2>
                    <p>{{ with .Page.Params.second_description }}{{ . }}{{ end }}</p>
                </div>
            </div>
            <div class="image">
                <div class="animation_image">
                    <div class="first-icon">
                        <img src="/images/circle2.svg" alt="">
                    </div>
                    <div class="second-icon">
                        <img src="/images/circle3.svg" alt="">
                    </div>
                    <div class="third-icon">
                        <img src="/images/circle1.svg" alt="">
                    </div>
                    <div class="fourth-icon">
                        <img src="/images/circle4.svg" alt="">
                    </div>
                    <div class="element">

                        <div class="circl"></div>
                        <div class="circl2"></div>
                        <div class="line line-1"></div>
                        <div class="line line-2"></div>
                        <div class="line line-3"></div>
                        <div class="line line-4"></div>

                    </div>
                </div>


                <!--                <img src="/images/demand-img2.svg" alt="">-->
            </div>
        </div>
    </div>
</section>
{{ end }}