{{ with .Site.GetPage "main" "we-do" }}
<section id="we-do"  >
    <div class="title-block">
        <h2>{{ .Title }}</h2>
    </div>
    <div class="icons-block v-1110" >
        <div class="one-icon-block">
            <a href="/live-calls/">
            <div class="icon">
                {{ with .Page.Params.first_img }}
                    <img src="{{ . }}" alt="">
                {{ end }}
            </div>
            <h3>{{ with .Page.Params.first_title }}{{ . }}{{ end }}</h3>
            <p>{{ with .Page.Params.first_description }}{{ . }}{{ end }}</p>
            </a>
        </div>
        <div class="one-icon-block">
            <a href="/live-calls/">
            <div class="icon">
                {{ with .Page.Params.second_img }}
                    <img src="{{ . }}" alt="">
                {{ end }}
            </div>
            <h3>{{ with .Page.Params.second_title }}{{ . }}{{ end }}</h3>
            <p>{{ with .Page.Params.second_description }}{{ . }}{{ end }}</p>
            </a>
        </div>
        <div class="one-icon-block">
            <a href="/live-calls/">
            <div class="icon">
                {{ with .Page.Params.third_img }}
                    <img src="{{ . }}" alt="">
                {{ end }}
            </div>
            <h3>{{ with .Page.Params.third_title }}{{ . }}{{ end }}</h3>
            <p>{{ with .Page.Params.third_description }}{{ . }}{{ end }}</p>
            </a>
        </div>
    </div>
</section>
{{ end }}