{{ with .Site.GetPage "main" "your-customer" }}
<section id="your-customer">
    <div class="image">
        {{ with .Page.Params.top_img }}
            <img src="{{ . }}" alt="">
        {{ end }}
    </div>saZDx
    <div class="info">
        <div class="v-1110">
            <div class="title">
                <h1>{{ .Title }}          wsdxwsaZDxsssssssssssssssssss</h1>
            </div>
            <div class="text">
                <p>{{ .Content }}</p>
            </div>
            <div class="buttons">
                <a class="s-v-button active" data-toggle="modal" data-target="#get-started" >Get Started</a>
                <a class="s-v-button" data-toggle="modal" data-target="#book-demo" >Book A Demo</a>
            </div>
        </div>
    </div>
</section>
{{ end }}
