{{ with .Site.GetPage "publisher" "publisher-lab" }}
    <section id="publisher-lab" class="v-1110">
    <div class="first-b">
        <div class="image">
            {{ with .Page.Params.first_b_img }}
            <img src="{{ . }}">
            {{ end }}
        </div>
        <div class="text-block">
            <h1>{{ .Title }}</h1>
            {{ .Content }}
        </div>
    </div>
    <div class="second-b">
        <div class="text-block">
            <h1>
                {{ with .Page.Params.second_b_title }}{{ . }}{{ end }}
            </h1>
            <p class="description">{{ with .Page.Params.second_b_description }}{{ . }}{{ end }}  </p>
            <div class="one-item">
                <p>{{ with .Page.Params.second_b_one_item_title }}{{ . }}{{ end }}</p>
                {{ with .Page.Params.second_b_one_item_img }}
                <img src="{{ . }}">
                {{ end }}
            </div>
            <div class="one-item">
                <p>{{ with .Page.Params.second_b_one_item_title2 }}{{ . }}{{ end }}</p>
                {{ with .Page.Params.second_b_one_item_img2 }}
                <img src="{{ . }}">
                {{ end }}
            </div>
            <div class="one-item">
                <p>{{ with .Page.Params.second_b_one_item_title3 }}{{ . }}{{ end }}</p>
                {{ with .Page.Params.second_b_one_item_img3 }}
                <img src="{{ . }}">
                {{ end }}
            </div>
            <div class="one-item">
                <p>{{ with .Page.Params.second_b_one_item_title4 }}{{ . }}{{ end }}</p>
                {{ with .Page.Params.second_b_one_item_img4 }}
                <img src="{{ . }}">
                {{ end }}
            </div>
            <div class="one-item">
                <p>{{ with .Page.Params.second_b_one_item_title5 }}{{ . }}{{ end }}</p>
                {{ with .Page.Params.second_b_one_item_img5 }}
                <img src="{{ . }}">
                {{ end }}
            </div>
            <div class="button">
                <a class="violet-button" data-toggle="modal" data-target="#get-started">
                    Get Started
                </a>
                {{ partial "pop-up/get-started.html" . }}
            </div>
        </div>
        <div class="image">
            <img src="/images/publishers-traffic-img2.png" alt="">
        </div>
    </div>
</section>
{{ end }}
