{{ with .Site.GetPage "contact-us" "contact_us" }}

<section id="contact-us" style="background: #001869 url(../images/ck-bg.png) no-repeat bottom;    background-size: contain;">
    <div class="v-1110">
        <div class="contacts-info">
            <h1>{{ .Title }}</h1>
            <div class="info">
                <div class="one">
                    <img src="/images/telephone.svg" alt="">
                    <p><a href="tel:{{ with .Page.Params.tel }}{{ . }}{{ end }}">{{ with .Page.Params.tel }}{{ . }}{{ end }}</a></p>
                </div>
                <div class="one">
                    <img src="/images/mail.svg" alt="">
                    <p><a href="mailto:{{ with .Page.Params.mail }}{{ . }}{{ end }}">{{ with .Page.Params.mail }}{{ . }}{{ end }}</a></p>
                </div>
                <div class="one">
                    <img src="/images/place.svg" alt="">
                    <p>{{ with .Page.Params.adress }}{{ . }}{{ end }}</p>
                </div>
            </div>
            <div class="follow-us">
                <div class="follow">
                    <p>Follow us</p>
                    <a target="_blank" class="link" href="{{ with .Page.Params.instagram_link }}{{ . }}{{ end }}"><img src="/images/instagram-icon.svg" alt=""></a>

                    <a target="_blank" class="link" href="{{ with .Page.Params.in_link }}{{ . }}{{ end }}"><img src="/images/linkedin.svg" alt=""></a>

                    <a target="_blank" class="link" href="{{ with .Page.Params.facebook_link }}{{ . }}{{ end }}"><img src="/images/facebook-icon.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="form-b">
            <div class="image">
                <img src="/images/contact-form-img.png" alt="">
            </div>
            <div class="form">
                <div class="form-text">
                    <div class="title">
                        <h3>{{ .Title }}</h3>
                        <p class="subtitle">If you have any questions –<br>
                            feel free to mail us ;)</p>
                    </div>
                    <form>
                        <div id="information">
                            <div class="one-input name">
                                <label>
                                    <p class="title">First name</p>
                                    <p><span class="wpcf7-form-control-wrap text"><input type="text" name="text" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" ></span>
                                    </p>
                                </label>
                            </div>
                            <div class="one-input email">
                                <label>
                                    <p class="title">Email</p>
                                    <p><span class="wpcf7-form-control-wrap email-820"><input type="email" name="email-820" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" ></span>
                                    </p>
                                </label>
                            </div>
                        </div>
                        <div id="submit">
                            <input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}


